body {
  margin: 0;
}
#container {
  height: 100vh;
  background-image: linear-gradient(to bottom, #61c6f2, #7996d5);
}
.container {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.calc-container {
  max-width: 360px;
  width: 100%;
  background-color: #f2f2f2;
  margin: 30px 0px;
  box-shadow: 1px 30px 30px 0px #8089d6;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 45px 0px 30px 0px;
}
.calc-bottom {
  width: 100%;
}
.input {
  border: none;
  padding: 10px;
  width: calc(100% - 20px);
  background: transparent;
  text-align: right;
  font-size: 2.5em;
  color: #80b7c2;
}
.result {
  text-align: right;
  font-size: 5em;
  padding: 0px 10px;
  color: #61a4b8;
  margin-bottom: 5%;
  height: 70px;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
}
.single-space {
  width: 25%;
}
.double-space {
  width: 50%;
}
.button-container {
  padding: 10% 15%;
}
.plus-minus span {
  font-size: 16px;
}
.plus-minus span:first-child {
  font-size: 8px;
}
.plus-minus span:last-child {
  font-size: 8px;
}
.button::before {
  font-size: 4em;
  position: relative;
}
.plus-icon::before {
  content: "\002B";
  bottom: 3px;
}
.reset-icon::before {
  content: "\0043";
}
.percent-icon::before {
  content: "\0025";
}
.divide-icon::before {
  content: "\00F7";
  bottom: 3px;
}
.seven-icon::before {
  content: "\0037";
}
.eight-icon::before {
  content: "\0038";
}
.nine-icon::before {
  content: "\0039";
}
.one-icon::before {
  content: "\0031";
}
.two-icon::before {
  content: "\0032";
}
.three-icon::before {
  content: "\0033";
}
.four-icon::before {
  content: "\0034";
}
.five-icon::before {
  content: "\0035";
}
.six-icon::before {
  content: "\0036";
}
.minus-icon::before {
  content: "\2212";
  bottom: 3px;
}
.multiply-icon::before {
  content: "\2715";
}
.equal-icon::before {
  content: "\003D";
  bottom: 3px;
}
.zero-icon::before {
  content: "\0030";
}
.dot-icon::before {
  content: "\00B7";
}
.button {
  width: 100%;
  color: #61a4b8;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 7%;
  box-shadow: 2px 4px 4px 2px #bfd8dc;
}
.double-space .button-container {
  padding: 5% 10%;
}
.double-space .button-container .button {
  border-radius: 50px;
  padding: 2%;
}
.light {
  background-color: white;
}
.dark {
  background-color: #61c6f2;
  color: white;
}
.plus-minus-button {
  font-size: 3em;
}
.plus-span {
  font-size: 1.5rem;
  position: relative;
  bottom: 15px;
  left: 3px;
}
.minus-span {
  font-size: 1.5rem;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .calc-container {
    max-width: 100%;
    margin: 0;
    height: 100vh;
    padding: 0;
    border-radius: 0;
  }
  .container {
    font-size: 30px;
  }
  .button-container {
    padding: 7% 32%;
  }
  .single-space {
    height: 12vh;
  }
  .plus-minus-button {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .button-container {
    padding: 7% 15%;
  }
  input {
    font-size: 1.5em;
  }
  .result {
    font-size: 2.5em;
  }
  .button {
    padding: 18%;
  }
  .double-space .button-container .button {
    padding: 6%;
  }
  .button::before {
    font-size: 2em;
  }
  .plus-minus-button {
    padding: 2%;
    font-size: 2rem;
  }
}
